##### code.activestate.com/recipes/langs/python/

In [1]:
import pandas as pd
import sys

##### Take a brief look at the stack and unstackfunctions

In [2]:
d = {'one':[1,1],'two':[2,2]}
i = ['a','b']

df = pd.DataFrame(data=d, index=i)
df

   one  two
a    1    2
b    1    2

In [3]:
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [4]:
stack.index

MultiIndex(levels=[[u'a', u'b'], [u'one', u'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [5]:
unstack = df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [6]:
unstack.index

MultiIndex(levels=[[u'one', u'two'], [u'a', u'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [7]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

In [8]:
transpose.index

Index([u'one', u'two'], dtype='object')